
<div class="parallaxSection height100">

    <section class="flexslider std-slider center-controls" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="3500"
             data-animspeed="550" data-controls="false" data-dircontrols="true">
        <ul class="slides">
            <li data-bg="/assets/images/content/suicidepreventwalk.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDownBig">The Front Porch Coalition Presents:</h2>
                            <h2 class="animated" data-fx="bounceIn">15th Annual Sucicide Awareness 5K Walk and Fun Run</h2>
                            <p>Events will be held in Rapid City and Spearfish</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

  
</div>
<!-- </div> -->
<!-- / parallaxSection -->
<div id="nextSection"></div>
