
<div class="parallaxSection height100">

    <section class="flexslider std-slider center-controls" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="6000"
             data-animspeed="550" data-controls="false" data-dircontrols="true">
        <ul class="slides">
            <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDownBig">Welcome to the Front Porch Coalition Website</h2>
                            <h2 class="animated" data-fx="bounceIn">A Unified Front for Suicide Prevention</h2>
                            <a href="#nextSection" class="btn btn-default btn-lg animated" data-fx="fadeInUpBig">Find Out How</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">Pluto Ghost Template</h2>
                            <h2 class="animated" data-fx="flipInY">CLEAN, MULTIPURPOSE DESIGN</h2>
                            <a href="/content/themes/pluto/demo/buy.php" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Purchase Template</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">Pluto Ghost Template</h2>
                            <h2 class="animated" data-fx="flipInY">CLEAN, MULTIPURPOSE DESIGN</h2>
                            <a href="/content/themes/pluto/demo/buy.php" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Purchase Template</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">Pluto Ghost Template</h2>
                            <h2 class="animated" data-fx="flipInY">CLEAN, MULTIPURPOSE DESIGN</h2>
                            <a href="/content/themes/pluto/demo/buy.php" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Purchase Template</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <a href="#nextSection" class="bigArrow local"><i class="fa fa-angle-down"></i></a>
</div>
<!-- / parallaxSection -->
<div id="nextSection"></div>
