
<div class="parallaxSection height100">

    <section class="flexslider std-slider center-controls" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="3500"
             data-animspeed="550" data-controls="false" data-dircontrols="true">
        <ul class="slides">
            <li data-bg="/assets/images/content/bghpslider1.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDownBig">Welcome to the Front Porch Coalition Website</h2>
                            <h2 class="animated" data-fx="bounceIn">A Unified Front for Suicide Prevention</h2>
                            <a href="/about-us/" class="btn btn-default btn-lg animated" data-fx="fadeInUpBig">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/content/bghpslider2.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">Are You in Crisis?</h2>
                            <h2 class="animated" data-fx="flipInY">Call the National Suicide Hotline  1-800-273-8255 or <br/> The Crisis Text Line TEXT "START" or "HELLO" to 741741</h2>
                            <a href="https://suicidepreventionlifeline.org" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Click Here Now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/content/bghpslider3.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">Suicide Prevention Training</h2>
                            <h2 class="animated" data-fx="flipInY">Education, Training, and Awareness</h2>
                            <a href="/training/" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li  data-bg="/assets/images/content/bghpslider4.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDown">L.O.S.S. Team</h2>
                            <h2 class="animated" data-fx="flipInY">Local Outreach to Suicide Survivors</h2>
                            <a href="/loss-team/" class="btn btn-default btn-lg animated" data-fx="fadeInLeft">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>

            <li data-bg="/assets/images/content/bghpslider5.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDownBig">Survivor Assistance</h2>
                            <h2 class="animated" data-fx="bounceIn">Providing Support to Families and Friends Following a Loss to Suicide</h2>
                            <a href="/survivors/" class="btn btn-default btn-lg animated" data-fx="fadeInUpBig">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
                <div class="container">
                    <div class="inner">
                        <div class="text-center">
                            <h2 class="page-title animated" data-fx="fadeInDownBig">Upcoming Training</h2>
                            <h2 class="animated" data-fx="bounceIn">Mental Health First Aid</h2>
                            <a href="/survivors/" class="btn btn-default btn-lg animated" data-fx="fadeInUpBig">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>

    <a href="#nextSection" class="bigArrow local"><i class="fa fa-angle-down"></i></a>
</div>
<!-- / parallaxSection -->
<div id="nextSection"></div>
