<div class="videoSection parallaxEffect" data-property="{videoURL:'http://youtu.be/9xkoBY83HD0',containment:'.videoSection .innerVideo',startAt:35,mute:true,autoPlay:true,loop:true,opacity:1,optimizeDisplay: true, showControls: false,quality: 'hd720', title:' '}">

    <!-- fallback video -->
    <div class="fallbackVideo" style="display:none;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/9xkoBY83HD0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="innerVideo"></div>

    <section class="flexslider std-slider center-controls" style="display:none;" data-height="700" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="11000" data-animspeed="550" data-controls="true" data-dircontrols="true">
        <ul class="slides">
            <li>
                <div class="container">
                    <div class="inner">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2 class="page-title">Parallax Background Video</h2>
                            <h2>CREATE SOMETHING TOTALLY AWESOME</h2>
                            <a href="#" class="btn btn-default btn-lg">Buy Now</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="inner">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2 class="page-title">Pluto Ghost Template</h2>
                            <h2>CLEAN, MULTIPURPOSE DESIGN</h2>
                            <a href="#" class="btn btn-default btn-lg">Purchase Template</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- / flexslider -->
</div>
<!-- / videoSection -->
