<div class="videoSection parallaxEffect" data-property="{videoURL:'http://youtu.be/3BByqa7bhto',containment:'.videoSection .innerVideo',startAt:19, end:220, mute:true,autoPlay:true,loop:true,opacity:1,optimizeDisplay: true, showControls: false,quality: 'hd720', title:'Suicide Survivors'}">

    <!-- fallback video -->
    <div class="fallbackVideo" style="display:none;">
        <iframe width="560" height="315" src="http://youtu.be/3BByqa7bhto" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="innerVideo"></div>

    <section class="flexslider std-slider center-controls" style="display:none;" data-height="700" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="11000" data-animspeed="550" data-controls="true" data-dircontrols="true">
        <ul class="slides">
            <li>
                <div class="container">
                    <div class="inner">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2 class="page-title">Video from The Mayo Clinic</h2>
                            <h2>Youth Suicide Prevention</h2>
                            <a class="popup-youtube btn btn-default btn-lg" href="http://www.youtube.com/watch?v=3BByqa7bhto">Watch Video</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- / flexslider -->
</div>
<!-- / videoSection -->
