<!--this section has a big image (slide effect) which you see on the main page-->
    <div id="effect_container" class="effect_container intro-effect-push">
        <div class="top_image">
            <div class="bg-img">
                <img src="{{@blog.cover}}" alt="Background Image"/>
            </div>
            <div class="effect-title">
                <h2 class="page-title">PLUTO GHOST THEME</h2>
                <h1>CLEAN, MULTIPURPOSE DESIGN</h1>
            </div>
        </div>
        <a href="#" class="trigger bigArrow local menuOffset"><i class="fa fa-angle-down"></i></a>