
<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/content/bgdonateslider.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2>Do something totally awesome.. "DONATE!"</h2>

                            <p>There are many ways you can donate to the Front Porch Coalition, including online. Read below for more information. If you would like to make a donation online via paypal, please do so here.</p>
                            <a href="https://www.paypal.com/donate/?token=zJRKUAkQ0syyD-xOU55WnYRs9RD0GD0a40hF0IJNzLI8gLGUKkmgx9ZZj852B905IncEO0" class="btn btn-primary btn-lg">Donate Here</a>

                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
