
<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/content/bgtrngslider1.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2 class="page-title">Suicide Prevention Training</h2>

                            <h2>Mental Health First Aid Training</h2>

                            <p>Training that teaches signs and symptoms of mental health disorders and how to help someone in a mental health crisis.</p>

                            <a href="#" class="btn btn-default btn-lg">Learn More</a>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/content/bghpslider3.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2 class="page-title">Suicide Prevention Training</h2>

                        <h2>QPR (Question, Persuade, Refer)</h2>

                        <p>Training for the general public to recognize the warning signs of a suicidal crisis.</p>

                        <a href="#" class="btn btn-default btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2 class="page-title">Suicide Prevention Training</h2>

                        <h2>QPR Suicide Triage Training for First Responders</h2>

                        <p>Training for first responders to learn to assess and respond to a suicidal crisis.</p>

                        <a href="#" class="btn btn-default btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2 class="page-title">Suicide Prevention Training</h2>

                        <h2>ASIST (Applied Suicide Intervention Skills)</h2>

                        <p>Learn how to do a suicide intervention and keep someone safe while getting them to mental health care..</p>

                        <a href="#" class="btn btn-default btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2 class="page-title">Suicide Prevention Training</h2>

                        <h2>Sudden and Traumatic LOSS Training for Caregivers and First Responders</h2>

                        <p>Training for caregivers and first responders helping those who have experienced a traumatic death, most commonly suicide.</p>

                        <a href="#" class="btn btn-default btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
