<!-- pluto/partials/simply_slider_events -->

<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2 class="page-title">L.O.S.S. Team</h2>
                            <h2>Local Outreach to Suicide Survivors</h2>

                            <p>Providing quick responce assistance for people that lost someone to suicide.</p>

                            <a href="#lossteam" class="btn btn-default btn-lg">Learn More</a>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2 class="page-title">L.O.S.S. Team</h2>

                        <h2>L.O.S.S. Team Volunteers Needed</h2>

                        <a href="#test-form" class="popup-with-form btn btn-default btn-lg">Apply Here</a>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                          <h2 class="page-title">L.O.S.S. Team</h2>
                            <h2>What is a L.O.S.S. Team?</h2>

                            <p>Find out why the L.O.S.S. Team provides an impactful and most vital service.</p>

                            <a href="#" class="btn btn-default btn-lg">Learn More</a>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
