<!-- pluto/partials/simply_slider_events -->

<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/content/bgeventslider_1.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                          <h1 class="page-title">Upcoming Event</h1>
                            <h2>Black Hills Area Suicide Awareness Walk &amp; Fun Run</h2>

                            <p>The Front Porch Coalition is proud to hold this annual event in Rapid City and Spearfish.</p>
                            <a href="/suicide-prevention-walk/" class="btn btn-default btn-lg">Coming Soon</a>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                      <h1 class="page-title">Upcoming Training</h1>
                        <h2>QPRT (Question, Persuade, Refer, Treat)</h2>

                        <p>Training provided to caregivers, healthcare providers, and mental health professionals treating those professionals treating those patients at elevated risk for suicidal behaviors.</p>
                        <a href="/training/" class="btn btn-default btn-lg">Learn More</a>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                          <h1 class="page-title">Upcoming Training</h1>
                            <h2>Mental Health First Aid</h2>

                            <p>Training provided to identify and help people with mental heath disorders.</p>
                            <a href="/training/" class="btn btn-default btn-lg">Learn More</a>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
