
<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2>Suicide Prevention Resources</h2>

                            <p>Resources provide for you to use or share with others</p>

                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
