<section class="flexslider std-slider" data-height="560" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="true" data-dircontrols="true">
    <ul class="slides">
        <li data-bg="/assets/images/demo-content/home-v1-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="text-center animated" data-fx="fadeIn">
                            <h2>About the Front Porch Coalition</h2>

                            <p><strong>Mission:</strong> Our mission is to be dedicated to helping those people who have tragically lost someone to suicide while working to reduce the incidence of suicide within our community, through available education,
                                awareness, and prevention services.</p>
                            <a href="#" class="btn btn-primary btn-lg">Learn More</a>

                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                    <div class="text-center animated" data-fx="fadeIn">
                        <h2>Our Long Term Goal</h2>

                        <p><strong>Goal:</strong> Expand the services and programs provided by the Front Porch Coalition throughout the counties in the Black Hills (Pennington, Meade, Lawrence, Butte, Custer, Fall River) within the next two-three years and throughout Western South Dakota and Eastern Wyoming within the next five years</p>
                    </div>
                </div>
            </div>
        </li>
        <li data-bg="/assets/images/demo-content/home-v2-slider-01.jpg">
            <div class="container">
                <div class="inner">
                  <div class="text-center animated" data-fx="fadeIn">
                      <h2>Organizational Values</h2>

                      <p><strong>Values:</strong> The Front Porch Coalition provides services in a manner which are confidential and professional without any form of stigma that still surrounds suicide and mental health.</p>
                  </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- / slider -->
