{{!< default}}

{{!> push_slider}}      <!--this is big push_effect, if you want to disable it just write ! before > -->
{{!> sliced_effect}}     <!--this is big slice effect, just remove ! to enable the effect-->
{{!> parallax_video}}   <!--this is parallax video effect, just remove! to enable the effect-->
{{!>simply_slider}}     <!--this is simply slider with two pictures, just remove ! to enable slider-->
{{> big_slider}}        <!--this iss big type of slider with two pictures, add ! to disable the slider-->

<div class="content-effect">
    {{>blog_list}} <!--if you want to have a list of blog on your page-->
    {{!>blog_masonry}} <!--if you want to have a masonry type of blog on your page-->
</div>
