{{!< default}}

{{!> push_slider}}      <!--this is big push_effect, if you want to disable it just write ! before > -->
{{!> sliced_effect}}     <!--this is big slice effect, just remove ! to enable the effect-->
{{!> parallax_video}}   <!--this is parallax video effect, just remove! to enable the effect-->
{{!>simply_slider}}     <!--this is simply slider with two pictures, just remove ! to enable slider-->
{{> big_slider}}        <!--this iss big type of slider with two pictures, add ! to disable the slider-->

<div class="content-effect">
    {{!>blog_list}} <!--if you want to have a list of blog on your page-->
    {{!>blog_masonry}} <!--if you want to have a masonry type of blog on your page-->
</div>

<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h1 class="page-title">Our services</h1>

            <h2>What can we do for you?</h2>

            <p class="larger">Mauris eget ligula vel nulla dignissim pharetra non sed orci. Praesent consequat egestas dapibus. Quisque faucibus erat at metus adipiscing lacinia.</p>
        </header>

        <div class="row">
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-star"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Suicide Prevention Training</a></h4>

                            <p>
                                Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-cog"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">L.O.S.S. Team</a></h4>

                            <p>
                                Aenean vitae neque mi. Phasellus tempor risus non risus tristique, quis egestas velit vulputate. Sed porttitor non nunc non.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-asterisk"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Survior Assistance Consultation</a></h4>

                            <p>
                                Donec sed dui consectetur, condimentum tellus nec, lacinia felis. Aenean vehicula erat a justo lobortis, non euismod orci vulputate.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-thumbs-up"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Crisis Intervention and Assistance</a></h4>

                            <p>
                                Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-trophy"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Suicide Support Groups</a></h4>

                            <p>
                                Nam pharetra justo turpis, quis rutrum lorem lobortis euismod. Praesent augue, consectetur ultricies eros non, lacinia scelerisque ante.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-file-text"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Suicide Information Assistance</a></h4>

                            <p>
                                Integer quis tristique arcu. Ut convallis purus purus, ut facilisis lorem pulvinar sit. Curabitur ullamcorper purus non auctor consectetur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / section -->

<!-- info slider start -->
<section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
            <ul class="slides">
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            The only important thing about design is how it relates to people.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- info slider end -->

<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h1 class="page-title">Our capabilities</h1>

            <h2>Things we are good at</h2>
        </header>

        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#panel1">
                                    Problems solving
                                </a>
                            </h4>
                        </div>
                        <div id="panel1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at
                                sodales velit.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#panel2">
                                    Systems monitoring
                                </a>
                            </h4>
                        </div>
                        <div id="panel2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Integer quis tristique arcu. Ut convallis purus purus, ut facilisis lorem pulvinar sit. Curabitur ullamcorper purus non auctor consectetur.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#panel3">
                                    Affect management
                                </a>
                            </h4>
                        </div>
                        <div id="panel3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / panel-group -->


            </div>
            <div class="col-md-6 col-sm-6">

                <div class="progress">
                    <span class="pro-skill pull-left">Photoshop</span>
                    <span class="pro-level pull-right">Pro</span>

                    <div class="progress-bar" role="progressbar" aria-valuenow="95" data-percentage="95" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="progress">
                    <span class="pro-skill pull-left">Illustrator</span>
                    <span class="pro-level pull-right">Very good</span>

                    <div class="progress-bar" role="progressbar" aria-valuenow="80" data-percentage="80" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="progress">
                    <span class="pro-skill pull-left">InDesign</span>
                    <span class="pro-level pull-right">Good</span>

                    <div class="progress-bar" role="progressbar" aria-valuenow="70" data-percentage="70" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="progress">
                    <span class="pro-skill pull-left">After Effects</span>
                    <span class="pro-level pull-right">Average</span>

                    <div class="progress-bar" role="progressbar" aria-valuenow="50" data-percentage="50" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- / section -->
