{{!< default}}

{{!> push_slider}}
<!--this is big push_effect, if you want to disable it just write ! before > -->
{{!>sliced_effect}} <!--this is big slice effect, just remove ! to enable the effect-->
{{!>parallax_video}} <!--this is parallax video effect, just remove! to enable the effect-->
{{!>simply_slider}} <!--this is simply slider with two pictures, just remove ! to enable slider-->
{{> big_slider}}<!--this iss big type of slider with two pictures, add ! to disable the slider-->

                <div class="content-effect">
                    {{!>
                    blog_list}} <!--if you want to have a list of blog on your page-->
                        {{!>
                        blog_masonry}} <!--if you want to have a masonry type of blog on your page-->
                </div>

                <section class="content-area bg2 animated" data-fx="fadeInUp">
                    <div class="container">
                        <header class="page-header text-center">
                            <h1 class="page-title">Our services</h1>

                            <h2>What can we do for you?</h2>

                            <p class="larger">The Front Porch Coalition provides prevention, intervention, and postvention services to the community to work to prevent the incidence of suicide. In order to accomplish that goal, the organization provides the following services.</p>
                        </header>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-star"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="/training/">Suicide Prevention Training</a></h4>

                                            <p>
                                                Educational trainings available to mental health professionals, first responders, school counselors, teachers, parents, etc. who need to learn how to recognize a suicidal crisis, how to intervene, and how to keep them safe while getting ongoing mental
                                                health care.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-cog"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="/loss-team/">L.O.S.S. Team</a></h4>

                                            <p>
                                                Local Outreach to Suicide Survivors Team responds with local law enforcement immediately after a suicide has happened to help family and friends during their tragic loss. This volunteer team of suicide survivors provide the only hope and resources to
                                                those newly bereaved.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-asterisk"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Mental Health Awareness</a></h4>

                                            <p>
                                                Mental Health First Aid Training available to service providers, first responders, school counselors, teachers, parents, etc. who need to learn how to recognize when someone is in a mental health crisis, how to help, and how to keep them safe while getting
                                                ongoing mental health care.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Crisis Intervention and Assistance</a></h4>

                                            <p>
                                                If you or anyone you know needs help and we are not available when you call us, know you can always call 911 for help through a welfare check. Also text the National Crisis Text Line by texting 'Start' to 741-741 or call the National Suicide Prevention
                                                Lifeline at 800-273-8255. The Rapid City Crisis Care Center is available 24/7 at 605-391-4863.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-trophy"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Suicide Support Groups</a></h4>

                                            <p>
                                                Suicide survivors support group for those who are grieving the loss of someone to suicide. Suicide grief is like no other kind of grief. Peer-led group for those who need the help that no other grief group in the community can provide and relate to. Support
                                                group is led by members of the L.O.S.S. Team.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="iconBox type3">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <i class="fa fa-file-text"></i>
                                        </a>

                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">Suicide Prevention Resources</a></h4>

                                            <p>
                                                The Front Porch Coalition provides many additional suicide prevention resources at its trainings and awareness events, along with the suicide survivor resources it provides. Find more resources online here.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- / section -->

                <!-- info slider start -->
                <section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
                    <div class="container">

                        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
                            <ul class="slides">
                                <li>
                                    <blockquote class="huge text-center">
                                        <p>
                                            Suicide prevention seeks to reduce the factors that increase suicide risk while increasing the factors that protects people from suicide.
                                        </p>
                                        <span class="author">Suicide Prevention Recource Center</span>
                                    </blockquote>
                                </li>
                                <li>
                                    <blockquote class="huge text-center">
                                        <p>
                                            Suicide is a serious and preventable health problem.
                                        </p>
                                        <span class="author">Action Allance for Suicide Prevention</span>
                                    </blockquote>
                                </li>
                                <li>
                                    <blockquote class="huge text-center">
                                        <p>
                                            The suicide rate for Native Americans / Alaska Native young adults and adolescents, that are between the ages of 15-34 is <em>1.5 times higher</em> than the nation adverage.
                                        </p>
                                        <span class="author">Center for Disease Control and Prevention</span>
                                    </blockquote>
                                </li>
                                <li>
                                    <blockquote class="huge text-center">
                                        <p>
                                            We can all prevent Suicide - Understanding the issues conserning suicide and mental health is an important way to take part in suicide prevention, help others in crisis, and change the conversation around suicide.
                                        </p>
                                        <span class="author">Suicide Prevention LifeLine</span>

                                    </blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- info slider end -->

                <section class="content-area bg1 animated" data-fx="fadeInUp">
                    <div class="container">
                        <header class="page-header text-center">
                            <h2>Anyone could be struggling with Suicide.</h2>

                        </header>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-struggle text-center" >
                                  <p class="larger">
                                    If you are concerned that someone is showing warning signs of suicide, that those signs are acutely imminent and they may be in crisis and need help, remember the mnemonic, IS PATH WARM, when looking for those signs. Learn more here and how and when to get help.
                                  </p>
                                    <a href="#test-modal" class="popup-modal btn btn-default btn-lg">Learn More</a>
                                </div>
                                <div id="test-modal" class="mfp-hide popup-block-signs animated" data-fx="fadeIn">
                                    <h3>Warning Signs of Suicide</h3>

                                    <p>
                                      The mnemonic "IS PATH WARM" can be used to remember the warning signs of suicide:
                                    </p>
                                    <br/>
                                    <ul>
                                      <li><p>"I" is for Ideation</p></li>
                                      <li><p>"S" is for Substance Abuse</p></li>
                                      <br/>
                                      <li><p>"P" is for Purposelessness</p></li>
                                      <li><p>"A" is for Anxiety</p></li>
                                      <li><p>"T" is for Trapped</p></li>
                                      <li><p>"H" is for Hopelessness</p></li>
                                      <br>
                                      <li><p>"W" is for Withdrawal</p></li>
                                      <li><p>"A" is for Anger</p></li>
                                      <li><p>"R" is for Recklessness</p></li>
                                      <li><p>"M" is for Mood Change</p></li>
                                    </ul>

                                    <p>A person in acute risk for suicidal behavior most often will show:</p>
                                    <br/>

                                    <h4>Warning Signs of Acute Risk:</h4>

                                    <ul>
                                      <li><p>Threatening to hurt or kill him or herself, or talking of wanting to hurt or kill him or herself; and/or,</p></li>
                                      <li><p>Looking for ways to kill him or herself by seeking access to firearms, available pills, or other  means; and/or,</p></li>
                                      <li><p>Talking or writing about death, dying or suicide, when these actions are out of the ordinary.</p></li>
                                    </ul>
                                    <p>
                                      These might be remembered as expressed or communicated "IDEATION".  If observed, seek help as soon as possible by contacting a mental health professional or calling 1-800-273-TALK (8255) for a referral. You can also text the Crisis Text Line by texting "Hello" or "Start" to 741-741 to talk to a trained counselor.
                                    </p>
                                    <br/>
                                    <h4>Additional Warning Signs:</h4>
                                  <ul>
                                      <li><p>Increased SUBSTANCE (alcohol or drug) use</p></li>
                                      <li><p>No reason for living; no sense of PURPOSE in life</p></li>
                                      <li><p>ANXIETY, agitation, unable to sleep or sleeping all the time</p></li>
                                      <li><p>Feeling TRAPPED - like there's no way out
                                        </p></li>
                                      <li><p>HOPELESSNESS</p></li>
                                      <li><p>WITHDRAWING from friends, family and society</p></li>
                                      <li><p>Rage, uncontrolled ANGER, seeking revenge</p></li>
                                      <li><p>Acting RECKLESS or engaging in risky activities, seemingly without thinking</p></li>
                                      <li><p>Dramatic MOOD change</p></li>
                                  </ul>

                                  <p>
                                    If observed, seek help as soon as possible  by contacting a mental  health  professional  or  calling 1-800-273 TALK (8255) for a  referral. You can also text the Crisis Text Line by texting "Hello" or "Start" to 741-741 to talk to a trained counselor.
                                  </p>
                                  <br/>
                                    <p><a class="popup-modal-dismiss btn btn-default btn-small" href="#" >Close</a></p>

                                </div>
                            </div>
                        </div>
                        <div class="page-footer">
                            <p class="larger text-center">
                              
                            </p>
                        </div>
                </section>
                <!-- / section -->
