{{!< default}}
{{!>header}}
{{>parallax_video_youth}}

<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="page-header text-center">
                <h2>Youth Suicide Prevention</h2>
                <p class="larger">We Can Work Together to Save Lives of At Risk Youth!</p>
            </header>

            <div class="col-md-6">

                <div class="youth_resource_1_info">
                  <p>Understand that suicide is one of the leading causes of preventable death in our nation today. We lose an average of more than 100 young people each week to this tragedy that can be prevented.</p>

                </div>
            </div>
            <div class="col-md-6">
              <div class="youth_resource_1_info">
                <p>Remember: Never be reluctant to get involved and always take any child/adolescent’s desire or intent to harm themselves seriously. If you suspect a young person of suicidal ideation, get them to professional help immediately. Suicide is Preventable.</p>

              </div>

            </div>
        </div>

    </div>
</section>




<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h2>Learn the Warning Signs</h2>

            <p class="larger">Four out of five teens who attempt suicide give clear warning signs. Warning signs of suicidal ideation include, but are not limited, to the following:
            </p>
        </header>

        <div class="row">
          <div class="col-md-12">

              <div class="youth_resource_2_info text-center">
                <h2></h2>
                <ul>
                  <li>Talking about suicide</li>
                  <li>Making statements about feeling hopeless, helpless, or worthless</li>
                  <li>A deepening depression</li>
                  <li>Preoccupation with death</li>
                  <li>Withdrawing from friends and family</li>
                  <li>Taking unnecessary risks or exhibiting self-destructive behavior</li>
                  <li>Out of character behavior</li>
                  <li>A loss of interest in the things one cares about</li>
                  <li>Increasing anger, rage, dramatic mood changes</li>
                  <li>Making arrangements; setting one’s affairs in order </li>
                  <li>Giving prized possessions away</li>
                  <li>Significant and drastic change in behaviors</li>
                  <li>Increased use and abuse of alcohol and/or other drugs</li>
                  <li>Being bullied, assaulted, victimized as well as being the one who is the perpetrator</li>
                  <li>Experiencing many recent losses, breakups, deaths, etc.</li>
                  <li>Experiencing and trying to deal with trauma</li>
                </ul>

              </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="youth_resource_2_info">

              <ul>
                <li>Perfectionist personalities</li>
                <li>Making statements about feeling hopeless, helpless, or worthless</li>
                <li>Gay and Lesbian youth</li>
                <li>Learning disabled youth</li>
                <li>Youth with low self-esteem</li>

                <li>Students in serious trouble</li>
                <li>Abused, Molested or Neglected Youth</li>
                <li>Making arrangements; setting one’s affairs in order </li>
                <li>Genetic predisposition</li>
                <li>Parental history of violence, substance abuse, or divorce</li>
              </ul>
            </div>

          </div> -->
      </div>

    </div>
    <div class="page-footer">
        <p class="larger text-center">You may be the first and last person to see these signs in a young person.</p>
    </div>

</section>
<!-- / section -->
<section class="content-area brightText" data-bg="{{asset "/images/content/bghpslideryouth.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
           <h2 class="huge text-center">Risk Factors for Youth Suicide</h2>
            <ul class="slides">

                <li>
                    <blockquote class="huge text-center">
                        <h3>Depression, Mental Illness and Substance Abuse</h3>
                        <p>
                            One of the most telling risk factors for youth is mental illness. Mental or addictive disorders are associated with 90% of suicides. One in ten youth suffer from mental illness serious enough to be impaired, yet fewer than 20 percent receive treatment. In fact, 60% of those who die by suicide suffer from depression. Alcohol and drug use, which clouds judgment, lowers inhibitions, and worsens depression, are associated with 50-67% of suicides.
                        </p>

                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Aggression and Fighting</h3>
                        <p>
                            Recent research has identified a connection between interpersonal violence and suicide. Suicide is associated with fighting for both males and females, across all ethnic groups, and for youth living in urban, suburban, and rural areas.
                        </p>
                    </blockquote>
                </li>
                  </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Community Environment</h3>
                        <p>
                            Youth with high levels of exposure to community violence are at serious risk for self-destructive behavior. This can occur when a youth models his or her own behavior after what is experienced in the community. Additionally, more youth are growing up without making meaningful connections with adults, and therefore are not getting the guidance they need to help them cope with their daily lives.
                        </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>School Environment</h3>
                        <p>
                            Youth who are struggling with classes, perceive their teachers as not understanding them or caring about them, or have poor relationships with their peers have increased vulnerability.
                        </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Previous Attempts</h3>
                        <p>
                            Youth who have attempted suicide are at risk to do it again. In fact, they are eight times more likely than youth who have never attempted suicide to make another suicide attempt.
                        </p>
                    </blockquote>
                </li>
                <li>

                    <blockquote class="huge text-center">
                        <h3>Cultural Factors</h3>
                        <p>
                            Changes in gender roles and expectations, issues of conformity and assimilation, and feelings of isolation and victimization can all increase the stress levels and vulnerability of individuals. Additionally, in some cultures (particularly Asian and Pacific cultures), suicide may be seen as a rational response to shame.
                        </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Family History/Stresses</h3>
                        <p>
                            A history of mental illness and suicide among immediate family members place youth at greater risk for suicide. Exacerbating these circumstances are changes in family structure such as death, divorce, remarriage, moving to a new city, and financial instability.
                        </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Self-mutilation</h3>
                        <p>
                            Self-mutilation or self-harm behaviors include head banging, cutting, burning, biting, erasing, and digging at wounds. These behaviors are becoming increasingly common among youth, especially female youth. While self-injury typically signals the occurrence of broader problems, the reason for this behavior can vary from peer group pressure to severe emotional disturbance. Although help should be sought for any individual who is causing self-harm, an appropriate response is crucial. Because most self-mutilation behaviors are not suicide attempts, it is important to be cautious when reaching out to the youth and not to make assumptions.
                        </p>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <h3>Situational Crises</h3>
                        <p>
                            Approximately 40% of youth suicides are associated with an identifiable precipitating event, such as the death of a loved one, loss of a valued relationship, parental divorce, or sexual abuse. Typically, these events coincide with other risk factors.
                        </p>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
      <header class="page-header text-center">
          <h2>Youth Suicide Prevention Resources</h2>
          <p class="larger text-justified">The Front Porch Coalition and other organizations are dedicated to the awareness and prevention of youth suicide. The Front Porch Coalition believes that awareness and education through preention, intervention, and postvention are the steps to prevention. We want to establish a Triangle of Prevention by providing students, parents, teachers, youth workers, and our entire community the tools and resources to possibly identify and help at-risk youth.</p>

          <p class="larger text-justified">This is accomplished through a series of programs and services that focus on information about the awareness and prevention of youth suicide.</p>
      </header>
        <div class="row">
          <div class="col-md-6">
              <div class="youth_resource_3_info">
                <h2></h2>
                <ul>
                  <li><a href="#">American Association of Suicidology</a></li>
                  <li><a href="#">American Foundation for Suicide Prevention</a></li>
                  <li><a href="#">Center for Disease Control: Suicide</a></li>
                  <li><a href="#">Center for Disease Control: Youth Risk Behavioral Surveillance System</a></li>
                  <li><a href="#">The Jed Foundation</a></li>
                  <li><a href="#">The Jason Foundation</li>
                  <li><a href="#">Yellow Ribbon Suicide Prevention Program</a></li>
                </ul>
              </div>
          </div>
          <div class="col-md-6">
            <div class="youth_resource_3_info">
              <ul>
                <li><a href="#">NAMI (National Alliance on Mental Illness)</a></li>
                <li><a href="#">American Foundation for Suicide Prevention</a></li>
                <li><a href="#">National Strategy for Suicide Prevention (PDF)</a></li>
                <li><a href="#">Samaritans USA</a></li>
                <li><a href="#">Suicide Awareness Voices of Education (SAVE)</a></li>
                <li><a href="#">National Crisis Trext Line</a></li>
                <li><a href="#">Reach Out</a></li>
                <li><a href="#">The Trevor Project</a></li>

              </ul>
            </div>
          </div>
      </div>
   </div>
   <div class="page-footer">
       <p class="larger text-center">Above information courtesy of the <a href="http://jasonfoundation.com">Jason Foundation.</a></p>
   </div>
</section>
