{{!< default}}
{{!>header}}
{{>big_slider_walk}}

<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>About the 15th Annual Front Porch Coalition Walk</h2>
            </header>

            <div class="col-md-6">
              <div class="text-center">
                  <h3>Where?</h3>
                  <p class="larger"><strong>Rapid City</strong> - May 6th at the Old Story Book Island Shelter.</p>
                  <p class="larger"><strong>Spearfish</strong> - May 6th at the City Park south of Project Play-Land.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                  <h3>When?</h3>
                  <p class="larger"><strong>Rapid City</strong> - 9am MST (Registration at 8am MST).</p>
                  <p class="larger"><strong>Spearfish</strong>- 9am MST (Registration at 8am MST).</p>
              </div>
            </div>
        </div>
        <div class="text-center">
            <h3>$40.00 Donation Includes the Walk Package</h2>
            <h4>Short-Sleeve T-Shirt + Water Bottle Koozie + Light Breakfast</h4>
            <p class="larger">A miminum donation of $40.00 required to receive the Walk Package</p>
        </div>
    </div>
</section>


<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h2>Our Generous Sponsors</h2>

            <p class="larger">In order to put on this important event, we could not do it without the generous donations of our sponsors, our local businesses.</p>
        </header>

        <div class="row">
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://www.mckieford.com/">McKie Ford in Rapid City</a></h4>
                            <p>
                                McKie Ford is your leader in Ford and Lincoln Sales. Come in to our dealership to learn more about purchasing your next vehicle with us!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://www.mgoil.com/">M.G. Oil Company</a></h4>

                            <p>
                                M.G. Oil Company is based in Rapid City, South Dakota. We are directly affiliated with Automatic Vendors, the largest vending company in South Dakota.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Guadalajara Mexican Restaurant &amp; Bar</a></h4>
                            <p>
                                Guadalajara in Spearfish SD is a great place to enjoy some Mexican food. Many call it the best in the Black Hills.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">


                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://www.blackhillsenergy.com">Black Hills Energy</a></h4>

                            <p>
                                Black Hills Energy, the business name under which we operate our natural gas and electric utilities, serves 1.2 million customers in eight states: Arkansas, Colorado, Iowa, Kansas, Montana, Nebraska, South Dakota and Wyoming.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">


                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://www.drivegranite.com/">Granite Automotive - Buick, Nissan, GMC</a></h4>

                            <p>
                                Granite Buick GMC is a premier Rapid City dealer. We have a great inventory of trucks, cars & SUVs. Visit us today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">


                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://bhcbank.com/">Black Hills Community Bank </a></h4>

                            <p>
                                Black Hills Community Bank is known as one of the best Rapid City banks in the Black Hills for their great rates and quality customer service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">


                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://www.bhfcu.com/">Black Hills Federal Credit Union</a></h4>

                            <p>
                                Bank with Black Hills Federal Credit Union in South Dakota and enjoy great banking solutions including auto loans, mortgages, business loans and more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">


                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://www.regionalhealth.com/">Regional Health</a></h4>

                            <p>
                                Rapid City Regional Hospital ranked in the top 5% nationally for overall clinical healthcare. As the largest private employer in western South Dakota.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://kirkfuneralhome.com/">Kirk Funeral Home and Creamation Services</a></h4>
                            <p>
                                At Kirk Funeral Home our primary duty is to ensure that all possible care, respect, and spiritual comfort is given to each and every family during their time of loss.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://rapidcityjournal.com/">Rapid City Journal Media Group </a></h4>
                            <p>
                                The Rapid City Journal is the number one news source in the Black Hills Area.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="www.blackhillsareadental.com/">Black Hills Area Dental</a></h4>
                            <p>
                                Dr. Bart Samuelson and Dr. Jeri Scranton are general and cosmetic dentists located in Rapid City, SD.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://www.wellsfargo.com/">Wells Fargo in Rapid City</a></h4>
                            <p>
                                We believe in our vision and values just as strongly today as we did the first time we put them on paper more than 20 years ago. Staying true to them will guide us toward continued growth and success for decades to come.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://www.coca-colahighcountry.com/">Coca-Cola Bottling Company High Country</a></h4>
                            <p>
                                Coca-Cola Bottling Company High Country is a family-owned, regional Coca-Cola Bottler founded in 1956 serving portions of Colorado, Minnesota, Montana, North Dakota, South Dakota, Utah, and Wyoming.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://quiksigns.com/">Quik Signs</a></h4>
                            <p>
                                Quik Signs solves your marketing challenges with a variety of creative products and services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://www.firstinterstatebank.com/">First Interstate Bank</a></h4>
                            <p>
                                First Interstate BancSystem, Inc., is a financial holding company both the company and its primary banking subsidiary First Interstate Bank. Both are based in Billings, Montana.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox type3">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="https://www.visionaryink605.com/"> Visionary Ink</a></h4>
                            <p>
                                If you are looking to get a unique piece that you can cherish forever, look no further. With our insightful artists, positive attitudes, and inviting atmosphere, you will walk away with a little more than a tattoo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="row">
         <div class="col-md-3">
             <div class="iconBox type3">
                 <div class="media">
                     <div class="media-body">
                         <h4 class="media-heading"><a href="https://www.rushmorecave.com/"> Rushmore Cave &amp; Rush Mountain Adventure Park</a></h4>
                         <p>
                             Experience Rushmore Mountain Coaster. Ready for a thrill? Get ready to ride the Black Hills of South Dakota's newest attraction, the Rushmore Mountain Coaster! Explore Rushmore Cave.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="iconBox type3">
                 <div class="media">
                     <div class="media-body">
                         <h4 class="media-heading"><a href="https://www.rushmorecave.com/">Isburg Funeral Chapels and Crematory Service</a></h4>
                         <p>
                              Isburg Funeral Chapels is proud to be the area's leading provider of quality funeral service. Through our commitment to outstanding service, genuine concern and personal attention to the families we serve, we have been able to build and maintain strong and lasting relationships with the community.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="iconBox type3">
                 <div class="media">
                     <div class="media-body">
                         <h4 class="media-heading"><a href="https://www.bankwest-sd.bank/">BankWest Community Bank</a></h4>
                         <p>
                             South Dakota community bank with business, agriculture and personal banking service that fits your lifestyle. BankWest Community Bank is banking made easy.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="iconBox type3">
                 <div class="media">
                     <div class="media-body">
                         <h4 class="media-heading"><a href="https://www.usbank.com/">US Bank</a></h4>
                         <p>
                             Let U.S. Bank help you bank smarter with Online Banking, Bill Pay, Checking Accounts, Savings Accounts, Bank Loans and Student Loans.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
       </div>
       <div class="page-footer text-center">
         <h4>A Special Thank You to McDonalds in Spearfish and all of the Black Hills Walmart, Safeway, and Family Thrift Stores, and Starbucks at Rushmore Mall for donating the breakfast items for this event.</h4><br>

         <p class="larger">If you would like to sponsor this or any other Front Porch Coalition event or training, please contact us. For additional information on this event, please call (605) 348-6692 or email Joani at <a href="mailto:jmullerlyons@frontporchcoalition.org">jmullerlyons@frontporchcoalition.org</a>.</p>
       </div>
    </div>
</section>
<!-- / section -->
