{{!< default}}
{{!>header}}
{{>parallax_video_youth}}

<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>Youth Suicide Prevention</h2>
                <p>We Can Work Together to Save Lives of At Risk Youths!</p>
            </header>

            <div class="col-md-6">

                <div class="resource_info">
                  <p>Understand that suicide is one of the leading causes of preventable death in our nation today. We lose an average of more than 100 young people each week to this tragedy that can be prevented.</p>

                </div>
            </div>
            <div class="col-md-6">
              <div class="resource_info">
                <p>Remember: Never be reluctant to get involved and always take any child/adolescent’s desire or intent to harm themselves seriously. If you suspect a young person of suicidal ideation, get them to professional help immediately. Suicide is Preventable.</p>

              </div>

            </div>
        </div>

    </div>
</section>




<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h2>Learn the Warning Signs</h2>

            <p class="larger">Four out of five teens who attempt suicide give clear warning signs. Warning Signs of suicidal ideation include, but are not limited, to the following:
            </p>
        </header>

        <div class="row">
          <div class="col-md-6">

              <div class="resource_info">
                <h2></h2>
                <ul>
                  <li>Talking about suicide</li>
                  <li>Making statements about feeling hopeless, helpless, or worthless</li>
                  <li>A deepening depression</li>
                  <li>Preoccupation with death</li>
                  <li>Taking unnecessary risks or exhibiting self-destructive behavior</li>
                  <li>Out of character behavior</li>
                  <li>A loss of interest in the things one cares about</li>
                  <li>Visiting or calling people one cares about</li>
                  <li>Making arrangements; setting one’s affairs in order </li>
                  <li>Giving prized possessions away</li>
                </ul>

              </div>
          </div>
          <div class="col-md-6">
            <div class="resource_info">
              <p>Along with these warning signs, there are certain Risk Factors that can elevate the possibility of suicidal ideation.</p>
              <ul>
                <li>Perfectionist personalities</li>
                <li>Making statements about feeling hopeless, helpless, or worthless</li>
                <li>Gay and Lesbian youth</li>
                <li>Learning disabled youth</li>
                <li>Youth with low self-esteem</li>
                <li>Depressed youth</li>
                <li>Students in serious trouble</li>
                <li>Abused, Molested or Neglected Youth</li>
                <li>Making arrangements; setting one’s affairs in order </li>
                <li>Giving prized possessions away</li>
              </ul>
            </div>

          </div>
      </div>

    </div>
    <div class="page-footer">
        <p class="larger text-center">Call for more information to meet specific needs and interests. Trainings occur frequently. To inquire about the training schedule or to host a training for your staff, clientele, and/or organization, please call (605) 348-6692.</p>
    </div>

</section>
<!-- / section -->
<section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
            <ul class="slides">
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            The only important thing about design is how it relates to people.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>Youth Suicide Prevention</h2>
                <p>We Can Work Together to Save Lives of At Risk Youths!</p>
            </header>

            <div class="col-md-6">

                <div class="resource_info">
                  <p>Understand that suicide is one of the leading causes of preventable death in our nation today. We lose an average of more than 100 young people each week to this tragedy that can be prevented.</p>

                </div>
            </div>
            <div class="col-md-6">
              <div class="resource_info">
                <p>Remember: Never be reluctant to get involved and always take any child/adolescent’s desire or intent to harm themselves seriously. If you suspect a young person of suicidal ideation, get them to professional help immediately. Suicide is Preventable.</p>

              </div>

            </div>
        </div>

    </div>
</section>
