{{!< default}}
{{!>header}}
{{>simply_slider_donate}}
<!--this section is about the company-->
<section id="donate" class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>Please Support us by Donating</h2>
            </header>

            <div class="col-md-12">

                <div class="lt-content text-center">

                    <p class="larger">

                        The Front Porch Coalition is a non-profit, 501(c)(3) tax-exempt organization that operates soley on donations from individuals, businesses, and foundations. In order for the organization to continue to work to prevent the incidence of suicide as well as provide free advocacy and support services to families, friends, and colleagues who have lost someone to suicide, we need the support of those able to make financial contributions. If you are able to and would like to make a financial contribution, please send any donations in the form of a check or money order to the organization. Your donation is tax-exempt and you will be sent a receipt of your donation.
                     </p>

                </div>
            </div>
</section>

<section class="content-area brightText" data-bg="{{asset "/images/content/bgdonateslider_1.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
            <ul class="slides">
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            It would be awesome if your company sponsored an event or training to promte suicide prevention.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Donating your time by volunteering is just as important as montiary donations. Please contact us for more infomation.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Donating your time by volunteering is just as important as montiary donations. Please contact us for more infomation.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>



<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">


            <h2>Where does your donation go?</h2>

            <p class="larger">Thank you for your generosity. We appreciate every donation that we receive. Here is where your donation is going.</p>
        </header>

        <div class="row">
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-star"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Education and Training Programs</a></h4>

                            <p>
                              In order to provide enough education to the public through our training programs, we need support from the public to keep the cost minimal and/or free.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-asterisk"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">L.O.S.S. Team Program</a></h4>

                            <p>
                                Survivors are never charged for our services. They have paid too high of a price already. Your donation provides for us to help those who are getting through quite possibly the worst time in their life.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-thumbs-up"></i>
                        </a>

                        <div class="media-body">
                          <h4 class="media-heading"><a href="#">Administration</a></h4>

                          <p>
                              With such a small staff, administrative expenses are very low. However in order to do more work and reach more people, additional funding and donations are needed.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-trophy"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Suicide Prevention and Mental Health Awareness</a></h4>

                            <p>
                                In order to fight the stigma of suicide and mental illness and save lives, funds are needed to make the public aware of how prevalent this problem is and what we as a community can do to prevent suicide.
                            </p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>
<!-- / section -->
