{{!< default}}
{{!>header}}
{{>simply_slider_events}}
<!--this section is about the company-->
<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h1 class="page-title">Our Events</h1>

            <h2>Front Porch Coalition's Annual Events</h2>
            <p class="larger"></p>
        </header>
        <div class="row">
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-trophy"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Black Hills Area Suicide Awareness Walk &amp; Fun Run</a></h4>

                            <p>
                                15th Annual Black Hills Area Suicide Awareness Walk &amp; Fun Run - Saturday, May 6, 2017 Starting at 9 AM - Old Storybook Island Shelter, Rapid City and in Spearfish City Park with a walk and fun run through beautiful Spearfish Canyon.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-file-text"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Survivors of Suicide Day</a></h4>

                            <p>
                                Saturday of National Suicide Prevention Week 2017 - 10 AM - 2PM - Local program for suicide survivors to find comfort and support from other survivors. Event will be held at the First Congregational UCC Church at 1200 Clark Street in Rapid City from 10 am to 2 pm. Bring a photo of your loved one with you to the event.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-file-text"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Mental Health Awareness &amp; Suicide Prevention Day Event</a></h4>

                            <p>
                              Coincides with National Prevention Week Activities held May 2017, the awareness event features community leaders and community citizens sharing their personal stories, entertainment, free food, and mental health resources available to all who attend. This year's event is on Thursday, May 18 starting at 5:00 PM. Bring a coat and blanket and stay for the Movie Under the Stars.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / section -->



<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
              <h2>Calendar of Events</h2>
              <p class="larger">The Front Porch Coalition Event Calendar displays both trainings and events. You have the option of choosing the week, month, and/or agenda by selecting the tabs to the right.</p>
        </header>


          <div class="col-md-12">
            <div class="event-calendar text-center">
              <iframe  src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=frontporchcoalition.org_thkhjq6clv591pa4kilsnp48k4%40group.calendar.google.com&amp;color=#453952;ctz=America%2FDenver" style="border-width:0" width="1200" height="800" frameborder="0" scrolling="no">
              </iframe>

              <p class="events-instr">
                Instructions:  If you use Google or Apple Calendar, please select the event of your choice to add to your own calendar.
              </p>
            <p class="events-instr">
                Disclaimer:  We are aware that some mobile devices may not see the the calendar in portrait mode, however if you switch to landscape mode you will see the calendar. We are working to resolve any issues. Thank you for your patience.
            </p>
          </div>

      </div>
</section>
<!-- / section -->







<!-- / section -->
