{{!< default}}
{{!>header}}
{{>simply_slider_loss_team}}
    <!--this section is about the company-->
    <section id="lossteam" class="content-area bg1 animated" data-fx="fadeInUp">
        <div class="container">
            <div class="row">
                <header class="text-center">
                    <h2>What is a L.O.S.S. Team?</h2>
                </header>

                <div class="col-md-12">

                    <div class="lt-content text-center">

                        <p class="larger">
                            The L.O.S.S. (Local Outreach to Suicide Survivors) Team Program has become the most vital and impactful service that the Front Porch Coalition provides to people who have lost someone to suicide. This program is an active model of postvention made up
                            of a team of trained survivors who go to the scenes of suicides to disseminate information about resources and be the installation of hope for the newly bereaved.
                        </p>
                        <br/>
                        <p class="larger">
                            The primary goal of an Active Postvention Model (APM) that this program is based upon is to let survivors of suicide know that resources exist as soon as possible following the death while providing support and hope. Without the help that is provided
                            to people traumatized by such a tragic death, so many suicide survivors would feel alone, isolated, and succumbing to many mental health difficulties.
                        </p>
                        <br/>
                        <p class="larger">
                            The Front Porch Coalition's L.O.S.S. Team has assisted families in getting services within two weeks of enduring their loss. Since its implementation in 2005, some of the current team members were at one time reached by this L.O.S.S. Team, a true testament
                            to the impact and success that the program has made on the lives of people who have lost someone to suicide. This L.O.S.S. Team was one of the first teams to start after Dr. Campbell's first team began. This model has now been
                            replicated in countries around the world.
                        </p>

                    </div>

                </div>

                <div class="text-center">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
    </section>


    <section class="content-area bg2 animated" data-fx="fadeInUp">
        <div class="container">
            <header class="page-header text-center">

                <h2>Who created the L.O.S.S. team?</h2>

                <p class="larger"></p>
            </header>

            <div class="row">

                <div class="col-md-6">
                    <h3>About Dr. Frank R. Campbell, PH.D., LCSW, CT</h3>
                    <br/>
                    <p class="larger">
                        Frank R. Campbell, Ph.D., LCSW, CT is the former Executive Director of the Baton Rouge Crisis Intervention Center and the Crisis Center Foundation in Louisiana, USA. He is currently Senior Consultant for Campbell and Associates Consulting where he consults
                        with communities and on Forensic Suicidology cases.
                    </p>
                    <p class="larger">
                        It was due to his more than twenty years of working with those bereaved by suicide that he introduced his Active Postvention Model (APM) most commonly known as the LOSS Team (Local Outreach to Suicide Survivors). His work with survivors and victims of
                        trauma has been featured in three Discovery channel documentaries.
                    </p>

                    </p>
                    <p class="larger">
                        Dr. Campbell has also been selected to receive the Louis Dublin award at the 2010 American Association of Suicidology Conference. Dr. Campbell is a past president of AAS and has received the Roger J. Tierney award for service. He was Social Worker of
                        the Year in Louisiana and the first John W. Barton Fellow selected in his hometown of Baton Rouge, Louisiana, USA.

                    </p>
                </div>

                <div class="col-md-6">
                    <img class="lt-image" src="{{asset "/images/content/circleDRCAMPBELL.png"}}" alt="Example Image">
                </div>

            </div>
        </div>
    </section>
    <!-- / section -->

    <section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
        <div class="container">
            <h2 class="text-center">The Front Porch Coalition LOSS Team……</h2>
            <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">

                <ul class="slides">
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                <strong>2006:</strong> The LOSS Team and the Pennington County Sheriff’s Office partnered to begin bringing the LOSS Team to the scene of suicide deaths, with the goal of helping newly bereaved and traumatized suicide survivors
                                cope with this difficult loss and ensure that their needs were met.
                            </p>

                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                <strong>2008:</strong> Research proved this method of immediate outreach ensures survivors seek help on average within 39 days as compared to 4.5 years when not reached immediately.
                            </p>

                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                <strong>2011:</strong> LOSS Team expands to respond to Meade County.
                            </p>

                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="huge text-center">
                            <p>
                                <strong>Present:</strong> LOSS Team beginning to respond with law enforcement officers in both counties to assist in severe suicide attempt cases where victim is unlikely to live, providing assistance to officers, families,
                                and friends.
                            </p>

                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="content-area bg1 animated" data-fx="fadeInUp">
        <div class="container">
            <header class="page-header text-center">

                <h2>Volunteers Needed for L.O.S.S. Team</h2>

            </header>

            <div class="row">

                <div class="col-md-12">
                    <div class="lossteam_app text-center">


                        <p class="larger text-center">The LOSS Team is made up of trained volunteers who respond 24/7 with law enforcement to help newly bereaved and traumatized suicide survivors. Volunteers on this team make a significant commitment to help those in need while joining
                            a group of suicide survivors who have come to a point in their grief journey where they can help others. Additional volunteers are always needed. If you are interested in volunteering, you should be a suicide survivor and be
                            able to be share oncall duties. </p>

                        <a href="#test-form" class="popup-with-form btn btn-default btn-lg">Apply Here</a>

                    </div>
                    <!-- form itself -->
                    <form id="test-form" class="white-popup-block text-center mfp-hide animated" data-fx="fadeIn">
                        <h1>Form</h1>
                        <fieldset style="border:0;">
                            <p>Lightbox has an option to automatically focus on the first input. It's strongly recommended to use <code>inline</code> popup type for lightboxes with form instead of <code>ajax</code> (to keep entered data if the user accidentally
                                refreshed the page).</p>
                            <ol>
                                <li>
                                    <label for="name">Name</label>
                                    <input id="name" name="name" type="text" placeholder="Name" required="">
                                </li>
                                <li>
                                    <label for="email">Email</label>
                                    <input id="email" name="email" type="email" placeholder="example@domain.com" required="">
                                </li>
                                <li>
                                    <label for="phone">Phone</label>
                                    <input id="phone" name="phone" type="tel" placeholder="Eg. +447500000000" required="">
                                </li>
                                <li>
                                    <label for="textarea">Textarea</label><br>
                                    <textarea id="textarea" style="margin: 0px; height: 156px; width: 461px;">Try to resize me to see how popup CSS-based resizing works.</textarea>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- / section -->
