{{!< default}}
{{!>header}}
{{>parallax_video}}
<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="suicideServ_intro text-center">

              <h2>Who Is A Suicide Survivor?</h2>
              <br/>
              <p class="larger">
                 The term “suicide survivor” – or “survivor of suicide” – is reserved for those left behind. It is used in the same sense that an obituary will say, “The deceased is survived by ….”
              </p>
            </div>



          </div>
        </div>

    </div>
</section>

<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">


            <h2>Survivor Support Services</h2>

            <p class="larger">Providing Support to Families and Friends Following a Loss to Suicide.</p>
        </header>

        <div class="row">
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-star"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Black Hills Area Survivors of Suicide Support Group</a></h4>

                            <p>
                              A monthly support group for those who have lost a family member, friend, or colleague to suicide. The group is facilitated by peer members of the L.O.S.S. Team, providing support on an ongoing basis. Survivors can attend the group whenever they need the support. Meetings are held every 4th Saturday of every month from 10am - 12pm at the First Congregational UCC Church at 1200 Clark Street in Rapid City. No RSVP is required to attend.
                            </p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-cog"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Recovering From Suicide Grief Support Group</a></h4>

                            <p>
                              An eight-week support group for those who have lost a family member, friend, or colleague to suicide. The group is facilitated by peer members of the L.O.S.S. Team and provides education, support, and other resources specific to suicide grief and loss. This is not an open, ongoing group and is scheduled based on need, so please call to RSVP to attend this group.
                            </p>
                        </div>
                    </div>
                </div>
             </div>

            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-asterisk"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Survivors of Suicide Day</a></h4>

                            <p>
                              Survivors of Suicide Day is a special day for those who have lost someone to suicide to come together to find hope and healing after a loss to suicide. Survivors gain strength from others through their grieving journey and through support. The program is held annually at First Congregatinal UCC Church at 1200 Clark Street in Rapid City. Typically it is held the Saturday of National Suicide Prevention Week, which is the first full week in September.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
      <p class="larger text-center">If you or someone you know has lost someone to suicide and needs help and support, please call (605) 348-6692.</p>
    </div>
</section>
<!-- / section -->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
      <header class="page-header text-center">
          <h2>How To Help Suicide Survivors</h2>
          <p class="larger text-justified">If you have lost someone to suicide and are looking for additional resources, please see the websites for the organizations listed below. An additional resource that friends, colleagues, and extended family find helpful when helping other family and close friends who have just lost a loved one to suicide is the following: "Suggestions for Helpful Things to Say and Do for Survivors."</p>


      </header>
        <div class="row">
          <div class="col-md-6">
              <div class="youth_resource_3_info">
                <h2></h2>
                <ul>
                  <li><a href="#">American Association of Suicidology</a></li>
                  <li><a href="#">American Foundation for Suicide Prevention</a></li>
                  <li><a href="#">Alliance of Hope</a></li>

                </ul>
              </div>
          </div>
          <div class="col-md-6">
            <div class="youth_resource_3_info">
              <ul>
                <li><a href="#">NAMI (National Alliance on Mental Illness)</a></li>
                <li><a href="#">L.O.S.S. Team</a></liv>
                <li><a href="#">The Trevor Project</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
</section>
