{{!< default}}
{{!>header}}
{{>parallax_video_youth}}

<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>Suicide Prevention Resources</h2>
            </header>

            <div class="col-md-6">

                <div class="resource_info">

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="text-center">

        </div>
    </div>
</section>


<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h2>Suicide Prevention Training</h2>

            <p class="larger">In order to raise awareness and reduce the incidence of suicide within our community, the various trainings are offered:</p>
        </header>

        <div class="row">
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-medkit"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Mental Health First Aid</a></h4>

                            <p>
                                This eight-hour course teaches you to identify and help people with mental heath problems, including depression, anxiety, bipolar depression, etc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-shield"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">QPR (Question, Persuade, Refer)</a></h4>

                            <p>
                                1-2 hour training for the general public to recognize the warning signs of a suicidal crisis and refer someone to assistance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-cog"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">QPR Suicide Triage Training for First Responders</a></h4>

                            <p>
                                4-8 hour training for first responders on assessing suicide risk level. Recommended for first responders ages 18+.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-dot-circle-o"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">ASIST (Applied Suicide Intervention Skills)</a></h4>

                            <p>
                                Anyone can learn how to do a suicide intervention and keep someone safe while getting them mental health care.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-h-square"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Sudden and Traumatic LOSS Training for Caregivers and First Responders:</a></h4>

                            <p>
                                One day training for any caregiver and first responder on responding to and caring for someone or a community that has experienced a traumatic event, including suicide loss.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox type3">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-file-text"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Sudden and Traumatic LOSS Training for Caregivers and First Responders:</a></h4>

                            <p>
                                One day training for any caregiver and first responder on responding to and caring for someone or a community that has experienced a traumatic event, including suicide loss.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
      <p class="larger text-center">Call for more information to meet specific needs and interests. Trainings occur frequently. To inquire about the training schedule or to host a training for your staff, clientele, and/or organization, please call (605) 348-6692.</p>
    </div>

</section>
<!-- / section -->




<section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
            <ul class="slides">
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            The only important thing about design is how it relates to people.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>
