{{!< default}}
{{!>header}}


<!--this section is about the company-->
<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <header class="text-center">
                <h2>Suicide Prevention Resources</h2>
            </header>

        </div>
    </div>
</section>


<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h2></h2>

            <p class="larger"></p>
        </header>

        <div class="row">

        </div>
    </div>
    <div class="page-footer">
      <p class="larger text-center"></p>
    </div>

</section>
<!-- / section -->




<section class="content-area brightText" data-bg="{{asset "/images/demo-content/testimonials-bg.jpg"}}" data-btmspace="75">
    <div class="container">

        <div class="flexslider std-slider center-controls" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true" data-controls="true">
            <ul class="slides">
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            Typography at its best is a visual form of language linking timelessness and time.
                        </p>
                        <span class="author">Robert Bringhurst</span>
                    </blockquote>
                </li>
                <li>
                    <blockquote class="huge text-center">
                        <p>
                            The only important thing about design is how it relates to people.
                        </p>
                        <span class="author">Victor Papanek</span>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h1 class="page-title">Our team</h1>

            <h2>The right people</h2>
        </header>

        <div class="row">
            
        </div>
    </div>
</section>
