{{!< default}}
{{!>header}}
<!--This page has a simply contact form and google map-->

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}
<!--This section has information about the contact to the company, here you have a google map and contact form-->
<section class="content-area bg1">
    <div class="container">

        <header class="page-header text-center">
            <h1 class="page-title">Get in touch</h1>

            <h2>We’d love to hear from you</h2>

            <p class="larger">Have a question or need help? Use the form or contact us at <a href="mailto:inquir@frontporchcoalition.org">inquires@frontporchcoalition.org</a>.</p>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="contactForm">
                    <div class="successMessage alert alert-success alert-dismissable" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Thank You! E-mail was sent.
                    </div>
                    <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Ups! An error occured. Please try again later.
                    </div>

                    <form class="liveForm" role="form" action="/content/themes/pluto/assets/form/send.php" method="post" data-email-subject="Contact Form" data-show-errors="true" data-hide-form="false">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Name <span>(Required)</span></label>
                                        <input type="text" required name="field[]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email <span>(Required)</span></label>
                                        <input type="email" required name="field[]" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Subject</label>
                                        <input type="text" name="field[]" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Message <span>(Required)</span></label>
                                        <textarea name="field[]" required class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Send Message">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Address</dt>
                    <dd>915 Mountain View Road</dd>
                    <dd>Rapid City, S.D. 57702</dd>

                    <dt>Phone Number</dt>
                    <dd>(605) 348-6692</dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:inquiries@frontporchcoalition.org">inquiries@frontporchcoalition.org</a></dd>
                </dl>
            </div>
        </div>

    </div>
</section>

<section class="content-area bg2" data-topspace="0" data-btmspace="0">
    <div class="mapOuter">
        <div class="googleMap" data-location="915 Mountain View Road Rapid City, S.D. 57702, USA" data-height="410" data-offset="0"></div>
    </div>
</section>
