{{!< default}}
{{>header}}

<section class="content-area bg1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                   <p class="font18 animated" data-fx="fadeIn">
                       I have ten years experience as a web/interface designer. I have a love of clean, elegant styling, and I have lots of experience in the production of CSS and (X)HTML for modern websites.
                       I have a reasonable grasp of using JavaScript frameworks, specifically jQuery. I have a great design eye and can demonstrate a flair for good, focused web design. I understand information architecture
                       and can identify the design constraints for quick loading data rich pages. I appreciate the difference between design (solving problems) and style (making the solutions look good).
                       My layout ideas are about good HTML and CSS techniques as opposed to over use of Photoshop and Flash.
                   </p>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Address</dt>
                    <dd>121 King Street, Melbourne</dd>
                    <dd>Victoria 3000 Australia</dd>

                    <dt>Phone Number</dt>
                    <dd>+61 3 8376 6284</dd>

                    <dt>Email</dt>
                    <dd><a href="mailto:hello@example.com">hello@example.com</a></dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section class="content-area bg2 animated" data-fx="fadeInUp">
    <div class="container">
        <header class="page-header text-center">
            <h1 class="page-title">My capabilities</h1>
            <h2>Things I am good at</h2>
        </header>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div  class="panel-group">
                    <div  class="panel panel-default accordion">
                        <div class="panel-heading">
                            <h4 class="panel-title">

                                <a data-toggle="collapse" data-parent="#accordion850" href="#collapse237" >
                                    Problems solving
                                </a>
                            </h4>
                        </div>
                        <div id="collapse237" class="panel-collapse collapse in ">
                            <div class="panel-body">
                                Maecenas placerat arcu purus. Aliquam eget pulvinar purus, vel vehicula lorem. In eu tortor lectus. Phasellus non lacus nec mauris gravida viverra ut id est. Morbi vel urna in mauris interdum dapibus at sodales velit.<br />

                            </div>
                        </div>
                    </div>
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">

                                <a data-toggle="collapse" data-parent="#accordion850" href="#collapse784" class="collapsed" >
                                    Systems monitoring
                                </a>
                            </h4>
                        </div>
                        <div id="collapse784" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Integer quis tristique arcu. Ut convallis purus purus, ut facilisis lorem pulvinar sit. Curabitur ullamcorper purus non auctor consectetur.
                            </div>
                        </div>
                    </div>
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">

                                <a data-toggle="collapse" data-parent="#accordion850" href="#collapse541" class="collapsed" >
                                    Affect management
                                </a>
                            </h4>
                        </div>
                        <div id="collapse541" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis enim.<br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-6 col-sm-6">
                <div class="progress"><span class="pro-skill pull-left">HTML/CSS</span><span class="pro-level pull-right">Very good</span><div  class="progress-bar" role="progressbar" data-percentage="80" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                <div class="progress"><span class="pro-skill pull-left">JAVASCRIPT</span><span class="pro-level pull-right">Good</span><div  class="progress-bar" role="progressbar" data-percentage="70" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                <div class="progress"><span class="pro-skill pull-left">PHP</span><span class="pro-level pull-right">Average</span><div  class="progress-bar" role="progressbar" data-percentage="50" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
                <div class="progress"><span class="pro-skill pull-left">JOOMLA</span><span class="pro-level pull-right">Average</span><div  class="progress-bar" role="progressbar" data-percentage="50" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div>
            </div>
        </div>
    </div>
</section>

<section class="content-area bg1 animated" data-fx="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header class="page-header text-left">
                <h2 class="big">Education</h2></header>
                <h6 class="page-title2">2001-2004</h6>
                <div class="space"><h3>Academy of Art University</h3><p>Nunc ac ultricies lorem, eu tristique nunc. Aliquam porttitor, lacus eget tristique vulputate, erat mi varius lectus, nec adipiscing mi ligula.</p></div>
                <h6 class="page-title2">2005-2008</h6>
                <div class="space"><h3>IT Technical Institute</h3><p>Praesent odio quam, cursus sit amet nisl ac, lobortis porta nulla. Quisque accumsan ipsum in urna semper efficitur.</p></div>
                <h6 class="page-title2">2009-2012</h6>
                <div class="space2"><h3>Web Design School</h3><p>Sed vel purus commodo, consequat eros in, ullamcorper augue. Duis fringilla metus id ornare malesuada. Maecenas tempor purus.</p></div>

            </div>

            <div class="col-md-6">
                <header class="page-header text-left"><h2 class=" big">Work experience</h2></header>
                <h6 class="page-title2">2002-2003</h6>
                <div class="space"><h3>GraphicRiver</h3><p>Proin sit amet purus malesuada, hendrerit turpis quis, facilisis nisi. Nunc pretium orci eget hendrerit fringilla.</p></div>
                <h6 class="page-title2">2003-2008</h6>
                <div class="space"><h3>VideoHive</h3><p>Praesent et lobortis arcu, sit amet fringilla nunc. Vivamus molestie porta tellus, congue vehicula felis mollis vitae. Nunc quis arcu quam.</p></div>
                <h6 class="page-title2">2008-PRESENT</h6>
                <div class="space2"><h3>ThemeForest</h3><p>Maecenas ornare mi augue, a mattis est egestas vel. Quisque volutpat diam ac feugiat volutpat. Vivamus consectetur massa.</p></div>
            </div>
        </div>
    </div>
</section>

<section class="content-area bg2">
    <div class="container">
        <div  class="row">
            <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-default btn-lg">DOWNLOAD CV <i class="fa fa-cloud-download"></i></a>
            </div>
        </div>
    </div>
</section>